
// MODAL 8 art

#modal8
	.modal-inner

		article
			margin-top: 40px
			text-align: center
			a 
				text-decoration: none
				font-size: 3.7vw
				color: rgb(43, 164, 226)
				margin-bottom: 3.3%
			address
				font-size: 2.6vw
			img
				max-width: 280px
				width: 38%
			h3
				font-size: 3vw
			h4
				font-size: 3.7vw



