
// MODAL 8 art

#modal8
	.modal-inner

		article
			margin-top: 5%
			text-align: center
		
			//text-align: center
			a 
				text-decoration: none
				font-size: 3.7vw
				color: rgb(43, 164, 226)
				margin-bottom: 3.3%
			address
				font-size: 2.6vw
			img
				max-width: 84vw
				width: 38%
				//display: inline-block
				//margin-top: 6%
			h3
				font-size: 3vw
			h4
				font-size: 3.7vw



