
// MODAL 6  INFO

#modal6


	.modal-inner
		article
			img.partner
				width: 10%


			nav > div:nth-child(6) > div
				background: transparent url(../img/raster/partners/canoe.jpg) no-repeat right top
				background-size: contain

			nav > div:nth-child(8) > div
				background: transparent url(../img/raster/partners/wtsa-radio.jpg) no-repeat right top
				background-size: contain
