
// MODAL 7 Social

#modal7


	.modal-inner
		article
			div.social-media
				margin-top: 5%
				a
					display: block
					margin-top: 2%
					text-align: center
					font-size: 2vw
					text-decoration: none
					img 
						width: 8%





