.modal
	height: 0
	background: white
	.modal-inner
		background: white
		height: 1px
		overflow: hidden
		overflow-x: hidden
		overflow-y: auto
		-webkit-overflow-scrolling: touch
		position: fixed
		top: 100%
		left: 50%
		-webkit-transform: translate(-50%, -100%)
		-ms-transform: translate(-50%, -100%)
		transform: translate(-50%, -100%)
		transition: width 0.5s ease 0.5s, height 0.5s ease
		width: 0
		z-index: 10
		background-image: none

		::-webkit-scrollbar
			width: 25px
		article
			margin: 2.5%
	> label
		display: none
	> input
		cursor: pointer
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		background-color: white
		width:  40px 
		height: 40px 
		background-color: rgba(255, 255, 255, 0.5) !important
		border-radius: 50%
		//left: calc(50% - 20px)
		//top: 77.5vh
		right: 30px
		top: 5px
		display: none

		&:focus 
			outline: none
	
		&:checked 
			position: fixed
			z-index: 11
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none
			display: initial
			&::after,
			&:before 
				border-top: 3px solid rgb(96, 211, 255)
				content: ''
				display: block
				position: absolute
				top: 50%
				-webkit-transform: rotate(45deg)
				-ms-transform: rotate(45deg)
				transform: rotate(45deg)
				width: 100%
			
			&::after 
				-webkit-transform: rotate(-45deg)
				-ms-transform: rotate(-45deg)
				transform: rotate(-45deg)

	input:checked + label 
		color: $dark_grey
		transition: color 0.5s ease
	
	input:checked ~ .modal-inner
		height: 100%
		width: 100%
		transition: width 0.5s ease, height 0.5s ease 0.5s
		overflow-y: scroll




		// BEGIN ACCORDIAN STYLES
		.accordion 
			//width: 90%
			//display: inline-block
			//text-align: right
			//color: rgb(255, 255, 255)
			//margin-left: -3%
			//margin-bottom: 65%
			//margin-top: -16%

		.accordion input 
			display: none

		.box 
			position: relative
			height: 8vh
			transition: all .5s ease-in-out

		.box::before 
			content: ''
			position: absolute
			display: block
			top: 0
			bottom: 0
			left: 0
			right: 0
			pointer-events: none

		.box-title 
			cursor: pointer
			font-size: 4vw
			-webkit-touch-callout: none
			-webkit-user-select: none
			-khtml-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			//color: white
			opacity: 0.5
			font-weight: 700

			&:hover 
				font-size: 4.5vw
				transition: font-size 1.7s
				opacity: 1
				//color: white

		.box-content 
			width: calc(100% - 20px)
			font-size: 1.4vw
			display: none
			text-align: center

		.box-close 
			position: absolute
			width: 100%
			top: 0
			left: 0
			cursor: pointer
			display: none

		input:checked + .box 
			height: auto

			
		input:checked + .box .box-content p 
			opacity: 1

		input:checked + .box .box-title
			font-size: 4.5vw 
			//color: white
			opacity: 1

		input:checked + .box .box-content,
		input:checked + .box .box-close 
			display: inline-block


