
// SMALL SCREEEN <766px and BASE STYLES



html


//MOBILE FIRST STYLES
body




	article

	



	//END SECTIONS & END ARTICLE

	// FOOTER  - footer mobile and base styles only--see tabled and desktop in medium_screen and large_screen.sass
	@import ../partials/footer




	//  END DOM CONTENT --via layout --




	


//  END DOM CONTENT --via DOM, i.e., close on <BODY>TAG --




// Scrollbar 

::-webkit-scrollbar
	width: 45px

::-webkit-scrollbar-thumb
	border-radius: 0

::-webkit-scrollbar-thumb:hover
	background-color: rgba(60, 110, 145, 0.6)

::-webkit-scrollbar-track 
	border: 12px dotted rgba(4, 124, 209, 0.25)


// END Scrollbar 




		
// UNIVERSAL HELPERS  override all higher/above (styles) 
// IMPORTANT -- resets animations, controls user-select and buttons
@import ../partials/helpers















