+respond(large)


	body

		header
			background-color: rgba(255, 255, 255, 0.33)

			img
				width: 9%
				left: calc(24% - 48px)
				max-width: 130px

			li 
				float: left
		
			li a 
				padding: 15px 18px
				font-size: 1vw
			#signUpButton
				border: 1px solid $dark_grey
				border-radius: 20px
				padding: 1px 17px 0
				margin-top: 13px
				margin-right: 66px
				margin-left: 17px

			.menu 
				clear: none
				float: right
				max-height: none
				margin-right: 13%
		
			.menu-icon 
				display: none


		article.scene

		
			section.unit-1
				img.building
					//width: 145%


			section.unit-2
			
				div.marina-text
					width: 66%
					height: 12vh
					bottom: 82%
					margin-left: 7%
				
				div.seafood-burgers
					height: 10vh
					bottom: 71%
					margin-left: 13%
				
				div.fish
					width: 12%
					height: 7vh
					bottom: 60%
					margin-left: 21%




		// MODALS
		#modal2
			.modal-inner
				article 
					
					> details > summary 
						font-size: 2.2vw
					details
						details
							> p 
								font-size: 1.22vw
							summary 
								font-size: 1.66vw
							


		//#modal4
			//.modal-inner
				//article
					//div.gallery 
						//margin-top: 5%
			
			
		br.mobile
			display: none
		br.tablet
			display: none
		br.desktop
			display: block


	
body.modal--opened
	article.scene
		section.unit-2
			div.marina-text
				width: 19%
				height: 6vh
				bottom: 0%
				top: 0
				margin-right: auto
				margin-left: 36%


//@media only screen and (min-width: 599px) and (max-width: 601px) and (min-height: 1023px) and (max-width: 1025px)
	//body
		//article
		

