+respond(medium_screen)

	body


		header
			font-size: 1em
			padding-bottom: 0


		article.scene	


			section.unit-1
				img.background
					height:  86vh

				img.building
					width: 141vh
					margin-left: 22%
					bottom: 10vh
					border-bottom: 42px solid rgba(0, 0, 0, 0)



			section.unit-2
				div.marina-text
					background-image: url(../img/svg/marina-logo.svg)
					width: 64%
					height: 13vh
					bottom: 85%
					margin-left: 22%

				div.seafood-burgers
					background-image: url(../img/svg/seafood-and-burgers.svg)
					height: 11vh
					bottom: 70%
					margin-left: 31%

				div.fish
					background-image: url(../img/svg/fish.svg)
					width: 11%
					height: 7vh
					bottom: 62%
					margin-left: 43%

		footer
			ul.buttons
				.button
					background: transparent
		//MODALS


		.modal
			.modal-inner
				article
					section
						nav
							margin-top: 5%

							div
								text-align: center
								a 
									text-decoration: none
									font-size: 2.7vw
								img
									max-width: 84vw
									margin-top: 6%
								h3
									font-size: 3vw
								h4
									font-size: 2.7vw


		#modal0
			.modal-inner
				article

					ul
						font-size: 3.5vw
						width: 55%

		#modal1
			.modal-inner
				article

					section
						nav
							margin-top: 5%

							div
								text-align: center
								a 
									text-decoration: none
									font-size: 2.7vw
								img
									max-width: 84vw
									margin-top: 6%
								h3
									font-size: 3vw
								h4
									font-size: 2.7vw


							div:nth-child(2)
								div
									iframe
										width: 70%




		#modal2
			.modal-inner
				article

					width: 80%
					margin-left: 10%
					summary::-webkit-details-marker 
						color: #00ACF3
						font-size: 125%
						margin-right: 2px
					
					summary:focus 
						outline-style: none
					

					> details > summary 
						font-size: 3.2vw
						margin-top: 16px
						font-family: serif


					details
						> p 
							font-size: 2vw
							width: 80%
							span.no-mobile
								display: initial
							em 
								font-weight: 700
								margin-right: 10px
								font-size: smaller
					
						details 
							margin-left: 36px
							span:not(.no-mobile)
								float: right
								padding-right: 22%
							span.no-mobile
								display: initial
							span.no-mobile.show-mobile
								display: none
					
							summary 
								font-size: 2.5vw
								span:not(.no-mobile)
									float: right
									padding-right: 33%
									font-size: smaller
								span.no-mobile
									display: initial
								span.no-tablet
									display: none
								span.no-mobile.show-mobile
									display: none

		
		#modal3 
			.modal-inner
				article

					nav
						div
							a 
								text-decoration: none
								font-size: 2.7vw
								margin-bottom: 4%
						div:nth-child(2)
							div
								div
									iframe
										margin-bottom: 3%
										margin-left: 15%
										margin-left: 3%

						div:nth-child(4)
							div
								max-width: 750px



		#modal4
			.modal-inner
				article

					div.gallery 
						width: 610px
					.gallery a 
						display: inline-block
						height: 150px
						position: relative
						width: 200px

					.gallery a img 
						border: 5px solid #FFC4F5
						cursor: pointer
						display: block
						height: 100%
						left: 0px
						position: absolute
						top: 0px
						width: 100%
						z-index: 1

					.gallery a:focus
						height: 150px
						img 
							border: 15px solid #fff
							cursor: default
							height: 250%
							position: absolute
							width: 250%
							z-index: 25

					.gallery a:focus:nth-child(3n+1) img 
						left: 150px
					
					.gallery a:focus:nth-child(3n+2) img 
						left: -50px
					
					.gallery a:focus:nth-child(3n+3) img 
						left: -250px
					
					.gallery a:focus:nth-child(-n+3) img 
						top: 140px
					
					.gallery a:focus:nth-child(n+7) img 
						top: -150px
					
					.gallery a:focus:nth-child(n+10) img 
						top: -295px
		


		#modal5
			.modal-inner
				article

					nav
						div
							
							div
								//text-align: center
								a 
									text-decoration: none
									font-size: 2.7vw
								address
									font-size: 2.6vw
								img
									max-width: 84vw
									margin-top: 6%
								h3
									font-size: 3vw
								h4
									font-size: 2.7vw

					
						div.box:nth-of-type(2)
							div
								width: 100%
								div
									width: 100%
									text-align: center
									a 
										margin-bottom: 2%
									iframe
										width: 100%
										height: 52vh
										margin: auto
										margin-left: 15%

		//Discover 								
		#modal6
			.modal-inner
				article

					margin-top: 5%
					nav
						div
							
							div
								//text-align: center
								a 
									text-decoration: none
									font-size: 3vw
									color: rgb(43, 164, 226)
									font-weight: 700
									cursor: pointer
								address
									font-size: 2.6vw
								img
									max-width: 84vw
									//margin-top: 6%
								h3
									font-size: 3vw
								h4, p
									font-size: 2.6vw


								img.partner
									width: 10%
									display: block
									cursor: pointer

					nav > div:nth-child(2) > div > details
						font-size: 3vw
						padding-top: 3%
							

					nav > div:nth-child(2) > div > details > ul > li
						margin-top: 1%
						> a
							font-size: 2.7vw



		// MODAL 7 Social

		#modal7
			.modal-inner
				article

					margin-top: 5%

					div.social-media
						margin-top: 5%
						a
							display: block
							margin-top: 2%
							text-align: center
							font-size: 2vw
							text-decoration: none
							line-height: 1.25
							img 
								width: 8%

					nav
						div
							
							div
								//text-align: center
								a 
									text-decoration: none
									font-size: 2.7vw
								address
									font-size: 2.6vw
								img
									max-width: 84vw
									//margin-top: 6%
								h3
									font-size: 3vw
								h4
									font-size: 3.7vw

								div			
									#tags
										margin-left: 0
										> div
											width: 25%
											float: left


		// MODAL 8 art
		#modal8
			.modal-inner
				article






		// Modal button styles
		div.modal > input 
			width:  46px 
			height: 46px 
			background-color: rgba(255, 255, 255, 0.7)
			//left: calc(50% - 23px)
			//top: 90vh


		// LINE BREAK HELPERS  
		br.mobile
			display: none
		br.tablet
			display: block
		br.desktop
			display: none




