+respond(medium_screen)

	body
		header
			font-size: 1em
			padding-bottom: 0

		article.scene	
			section.unit-1
				img.background
					height:  86vh

				img.building
					width: 131%
					margin-left: 19%
					bottom: 10vh

			section.unit-2
				div.marina-text
					background-image: url(../img/svg/marina-logo.svg)
					width: 64%
					height: 13vh
					bottom: 85%
					margin-left: 22%

				div.seafood-burgers
					background-image: url(../img/svg/seafood-and-burgers.svg)
					height: 11vh
					bottom: 70%
					margin-left: 31%

				div.fish
					background-image: url(../img/svg/fish.svg)
					width: 11%
					height: 7vh
					bottom: 62%
					margin-left: 43%

		footer
			ul.buttons
				.button
					background: transparent
		//MODALS







		#modal2
			.modal-inner
				article
					width: 80%
					margin-left: 10%
					summary::-webkit-details-marker 
						color: #00ACF3
						font-size: 125%
						margin-right: 2px
					
					summary:focus 
						outline-style: none
					

					> details > summary 
						font-size: 3.2vw
						margin-top: 16px
						font-family: serif


					details
						> p 
							font-size: 2vw
							width: 80%
							em 
								font-weight: 700
								margin-right: 10px
								font-size: smaller
					
						details 
							margin-left: 36px
							span:not(.no-mobile)
								float: right
								padding-right: 40%
							span.no-mobile
								display: initial
							span.no-mobile.show-mobile
								display: none
					
							summary 
								font-size: 2.5vw
								span:not(.no-mobile)
									float: right
									padding-right: 50%
									font-size: smaller
								span.no-mobile
									display: initial
								span.no-mobile.show-mobile
									display: none


		#modal4
			.modal-inner
				article
					div.gallery 
						width: 610px
					.gallery a 
						display: inline-block
						height: 150px
						position: relative
						width: 200px

					.gallery a img 
						border: 5px solid #FFC4F5
						cursor: pointer
						display: block
						height: 100%
						left: 0px
						position: absolute
						top: 0px
						width: 100%
						z-index: 1

					.gallery a:focus
						height: 150px
						img 
							border: 15px solid #fff
							cursor: default
							height: 250%
							position: absolute
							width: 250%
							z-index: 25

					.gallery a:focus:nth-child(3n+1) img 
						left: 150px
					
					.gallery a:focus:nth-child(3n+2) img 
						left: -50px
					
					.gallery a:focus:nth-child(3n+3) img 
						left: -250px
					
					.gallery a:focus:nth-child(-n+3) img 
						top: 140px
					
					.gallery a:focus:nth-child(n+7) img 
						top: -150px
					
					.gallery a:focus:nth-child(n+10) img 
						top: -295px
		





		// Modal button styles
		div.modal > input 
			width:  46px 
			height: 46px 
			background-color: rgba(255, 255, 255, 0.7)
			//left: calc(50% - 23px)
			//top: 90vh


		// LINE BREAK HELPERS  
		br.mobile
			display: none
		br.tablet
			display: block
		br.desktop
			display: none




